*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: arial;
}
nav{  
    margin: auto;
    width: 700px;
    background-color: rgb(56, 8, 102);

}
nav ul li{
    display: inline-block;
    position: relative;
}
nav ul li a{
    display: block;
    color: bisque;
    margin: 30px 35px;
    transition: .3s;
}
nav ul li a::before{
    content:'';
    width: 0;
    height: 4px;
    background-color: rgb(179, 22, 22);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    transition: .2s;
}
nav ul li a::after{
    content: '';
    width: 0; 
    height: 4px;
    background-color: rgb(37, 231, 231);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .2s;
}
nav ul li a:hover::before{
    width: 100%;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li ul{ 
    opacity: 0;
    visibility: hidden;
    width: 150px;
    position: absolute;
    background-color: coral; 
    transition: .3s;
}
nav ul li ul li{
    display: block;
}
nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
nav ul li ul li ul{
    left:100% ;
    top: 0;
    background-color: rgb(23, 88, 88);
}